.frm-center {
    max-width: 400px;
    margin: 0 auto;
}

.bg-color-light {
    background-color: #fafafa;
}

.link-deco {
    text-decoration: none;
}

.fonts {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}