
<div class="frm-center mt-5 bg-light">
    <form class="border rounded">
        <div class="container">
            <h1 class="text-center my-4">Sign into MyApp</h1>
            <div class="form-group">
                <label for="email">Username or Email address</label>
                <input type="email" class="form-control" id="email" ng-model="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" ng-model="password">
            </div>
            <button type="button" class="btn btn-block btn-md btn-primary" ng-click="login()">Log In</button>
            <div class="alert alert-danger my-3 text-center" role="alert" ng-show="invalidLogin">
                Invalid Credentials!
            </div>
            <div class="my-2 text-center">
                <a href="#" class="forgot-password">
                    <span class="text-center">Forgot password?</span>
                </a>
            </div>
        </div>
    </form>
    <div class="container border rounded my-3">
        <p class="my-4 text-center">New to myApp? <a ng-href="#!/signup">Signup</a></p>
    </div>
</div>